
<% content_for :content do %>

<h1>My Followed posts</h1>

	<div class="row">
		<% @posts.each do |post| %>
			<div class="col-md-4">
				<h3><%= post.name %></h3>
				<% if post.photo %>
						<img src="<%= post.photo_url(:thumb) %>">
				<% end %>
				<p><%= post.content %></p>
			</div>
		<% end %>
	</div>

<% end %>

	<%= render template: 'layouts/profile' %>
