/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize
 */

.posts {
	text-align: center;
}

.circle {
	border-radius :50%;
  	border:1px solid #ecf0f1;

}


.navatar {
	max-height: 45px;
	max-width: 45px;
	border-radius :50%;
  	border:1px solid #ecf0f1;
}


.form-align {
	display: block;
	justify-content: center;
}



.index {

	border-radius :50%;
  	border:2px solid #ecf0f1;

}

.post {
	width: 540px;
	height: 360px;
}


.post1 {
	width: 276px;
	height: 156px;
}

.show {
	max-width: 100%;
}

.page-header {
	background-color: white;
	justify-content: center;
	border-bottom:1px solid #636e72;
	margin-bottom: 10px;
}

.page-foot {
	display: flex;
	justify-content: space-around;
	border-top:1px solid #636e72;
	margin-top: 10px;
	margin-left: 60px;
}

.subfooter {
	background-color: white;
	display: flex;
	justify-content: left;
	border-top:1px solid #636e72;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 300px;
}



.pet {
	border-bottom: 1px solid #636e72;
	padding-bottom: 30px;
	margin-bottom: 50px ;
}



.bt {
	padding: 10px;
	margin-top: 10px;
}

